button {
  cursor: pointer;
}

.myAccount-container {
  background-color: black;
  position: relative;
  padding-top: 20px;
}

.btn__myAccount {
  color: aliceblue;
  text-decoration: none;
  position: absolute;
  right: 0;
  width: 100px;
}

.btn__backEvents {
  color: aliceblue;
  text-decoration: none;
  position: absolute;
}

.tab {
  display: none;
}

.tabs-container {
  background-color: black;
  padding: 3%;
}

.tablinks {
  margin-left: 10%;
  color: white;
  background-color: black;
  cursor: pointer;
}

.panels {
  list-style: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.panels__img {
  max-width: 100%;
  height: 150px;
}

.panels__title {
  font-weight: bold;
  margin-top: 10px;
}

.panels__date {
  margin-top: 5px;
}

.panels__location {
  margin-top: 5px;
}

.panels__price {
  margin-top: 5px;
}

.panels__interested {
  border-color: cadetblue;
}

.panels__going {
  background-color: cadetblue;
}

/* Estilos de Calendario */
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 8%;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -28%;
}

.calendar-month-year {
  font-size: 24px;
  font-weight: bold;
}

.calendar-table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
}

.calendar-table th {
  font-weight: bold;
}

.calendar-body td {
  position: relative;
  cursor: pointer;
}

.tablinks.active-tab,
.tablinks:focus {
  background-color: #f5f7f8;
  color: #000000;
}
